*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
}
body
{
background-color:black;
}
.text
{
position: absolute;
left: 50%;
top: 50%;
transform:translate(-50%,-50%);
color: white;
}
.text h3
{
font-size: 40px;
letter-spacing: 4px;
line-height: 1;
text-transform: uppercase;
mix-blend-mode: difference;
}
.text::before
{
content: "";
position: absolute;
left: 0;
top: 0;
width: 100px;
height: 100%;
background-color: white;
animation: animationss 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}
@keyframes animationss
{
0%,100%{
left: 0%;
}
50%{
left:calc(100% - 100px);
}

}


